<div class="details-container clearfix">
  <div id="ember1550" class="ember-view">
    <div class="estimate">
      <div class="estimate-header estimate-content">
      </div>

      <div class="estimate-body">
        <div style="display:table;width:100%;">
          <div style="float:left;width:50%;">
            <div>
              <%= image_tag(@setting.logo.url(:small), class: 'logo_content') if @setting && @setting.logo.present? %>
            </div>
            <span class="est-orgname"><b><%= settings.company_name %></b></span><br>
            <span class="est-label">
			<span id="tmp_org_address" style="white-space: pre-wrap;"><%= settings.address %>
<%= settings.city %> <%= settings.state %> <%= settings.postal_code %>
<%= settings.fax %>
<%= settings.phone %></span>
			</span>
          </div>
          <div style="float:right;width:50%;text-align:right;">
            <span class="est-entity-title">ESTIMATE</span><br>
            <span class="est-label" style="font-size: 10pt;" id="tmp_entity_number"><b># <%= @job_estimate.estimate %></b></span>
          </div>
        </div>

        <table style="width:100%;margin-top:30px;table-layout:fixed;" class="estimate-no-border">

          <tr>
            <td style="width:60%;vertical-align:bottom;word-wrap: break-word; border: none;">
              <div><label class="est-label" id="tmp_billing_address_label" style="font-size: 10pt;">Bill To</label>
                <br>
                <span id="zb-pdf-customer-detail" class="est-customer-name"><a><%= @job_estimate.name_client %> </a></span><br>

              </div>
            </td>
            <td style="vertical-align:bottom;width: 40%;" align="right">
              <table cellpadding="0" cellspacing="0" border="0" style="float:right;table-layout: fixed;word-wrap: break-word;width: 100%;" class="estimate-no-border">
                <tbody>
                <tr>
                  <td style="text-align:right;padding:5px 10px 5px 0px;font-size:10pt;">
                    <span class="est-label">Estimate Date :</span>
                  </td>
                  <td style="text-align:right;">
                    <span id="tmp_entity_date"><%= @job_estimate.estimate_date ? @job_estimate.estimate_date.strftime("%B %d, %Y") : 'Estimate Date missing' %></span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 10pt;">
                    <span class="est-label">Expiry Date :</span>
                  </td>
                  <td style="text-align:right;">
                    <span id="tmp_due_date"><%= @job_estimate.expiry_date ? @job_estimate.expiry_date.strftime("%B %d, %Y") : 'Expiry Date missing' %></span>
                  </td>
                </tr>
                <tr>
                  <td style="text-align:right;padding:5px 10px 5px 0px;font-size: 10pt;">
                    <span class="est-label">Reference# :</span>
                  </td>
                  <td style="text-align:right;">
                    <span id="tmp_ref_number"><%= @job_estimate.reference %></span>
                  </td>
                </tr>

                </tbody>
              </table>
            </td>
          </tr>

        </table>


        <table cellpadding="0" cellspacing="0" border="0" class="est-itemtable estimate-no-border" style="width:100%;margin-top:20px;table-layout:fixed;">
          <thead>
          <tr style="height:32px;">
            <td class="est-itemtable-header" style="padding:5px 0 5px 5px;text-align: center;word-wrap: break-word;width: 5%;">
              #
            </td>
            <td class="est-itemtable-header" style="padding:5px 10px 5px 10px;word-wrap: break-word;">
              Item &amp; Description
            </td>
            <td class="est-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%; text-align: right;">
              Qty
            </td>
            <td class="est-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width: 11%; text-align: right;">
              Price
            </td>
            <td class="est-itemtable-header" style="padding:5px 10px 5px 5px;word-wrap: break-word;width:120px; text-align: right;">
              Total Price
            </td>
          </tr>
          </thead>
          <tbody class="itemBody">
          <% i = 0
             @job_estimate.estimate_items.each do |item|
               i += 1
          %>
            <tr>
              <td class="est-item-row" style="padding: 10px 0 10px 5px;text-align: center;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;" valign="top"><%= i %></td>
              <td class="est-item-row" style="padding: 10px 0px 10px 10px;border-bottom: 1px solid #e3e3e3;" valign="top">
                <span class="est-item-desc" style="white-space: pre-wrap;word-wrap: break-word;"><%= item.title %></span>
              </td>
              <td class="est-item-row" style="padding: 10px 10px 5px 10px;text-align:right;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;" valign="top">
                <span><%= item.quantity %></span>
              </td>
              <td class="est-item-row" style="padding: 10px 10px 5px 10px;text-align:right;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;" valign="top">
                <span><%= item.price %></span>
              </td>
              <td class="est-item-row" style="text-align:right;padding: 10px 10px 10px 5px;word-wrap: break-word;border-bottom: 1px solid #e3e3e3;" valign="top">
                <span><%= item.total_price %></span>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
        <div style="width: 100%;margin-top: 1px;">
          <div style="width: 45%;padding: 3px 10px 3px 3px;font-size: 9pt;float: left;">
            <div style="white-space: pre-wrap;"></div>
          </div>
          <div style="width: 50%;float:right;">
            <table width="100%" border="0" cellspacing="0" class="est-totals estimate-no-border">
              <tbody>
              <tr>
                <td style="padding: 5px 10px 5px 0; text-align: right;" valign="middle">Sub Total</td>
                <td style="width:120px;padding: 10px 10px 10px 5px; text-align: right;" valign="middle" id="tmp_subtotal"><%= @job_estimate.sub_total_amount %></td>
              </tr>
              <tr>
                <td style="padding: 5px 10px 5px 0; text-align: right;" valign="middle">Discount(<%= @job_estimate.discount %>
                  %)
                </td>
                <td style="width:120px;padding: 10px 10px 10px 5px; text-align: right;" valign="middle">
                  (-) <%= @job_estimate.sub_total_amount * @job_estimate.discount / 100 %>
                </td>
              </tr>
              <tr style="height:10px;">
                <td style="padding: 5px 10px 5px 0; text-align: right;" valign="middle">Shipping charge</td>
                <td style="width:120px;padding: 10px 10px 10px 5px; text-align: right;" valign="middle"><%= @job_estimate.shipping_charges %></td>
              </tr>

              <tr class="est-balance" style="height:40px;">
                <td style="padding: 5px 10px 5px 0; text-align: right;" valign="middle"><b>Total</b></td>
                <td style="width:120px;;padding: 10px 10px 10px 5px; text-align: right;" valign="middle" id="tmp_total">
                  <b> <%= number_to_currency(@job_estimate.total_amount) %></b></td>
              </tr>
              </tbody>
            </table>
          </div>

          <div style="clear: both;"></div>
        </div>
        <div style="clear:both;margin-top:50px;width:100%;">
          <label class="est-label" id="tmp_notes_label" style="font-size: 10pt;">Notes</label><br>

          <p class="est-notes" style="margin-top:7px;white-space: pre-wrap;word-wrap: break-word;"><%=simple_format @job_estimate.client_notes %></p>
        </div>

        <div style="clear:both;margin-top:30px;width:100%;">
          <label class="est-label" id="tmp_terms_label" style="font-size: 10pt;">Terms &amp; Conditions</label><br>

          <p class="est-terms" style="margin-top:7px;white-space: pre-wrap;word-wrap: break-word;"><%=simple_format @job_estimate.terms_and_conditions %></p>
        </div>
      </div>
      <div class="estimate-footer">
        <div>

        </div>
      </div>

    </div>
  </div>
</div>
