<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>
<%= content_for :submenu do %>
  <% if permitted_to? :create, :private_job_estimates -%>
    <li><%= active_link_to 'New Job Estimate', new_private_job_estimate_path %></li>
  <% end %>
<% end %>

<hr>

<div class="col-md-12">
  <div class="estimate_listing col-md-12">
    <table class="table table-hover" id='#datatable'>
      <tr>
        <th>#</th>
        <th>Date</th>
        <th>Estimate#</th>
        <th>Reference#</th>
        <th>Customer Name</th>
        <th>Status</th>
        <th class='to_hide'>Amount</th>
      </tr>
      <% @job_estimates.each do |estimate| %>
        <tr>
          <td><%= estimate.id %></td>
          <td><%= estimate.created_at.strftime('%d %b %Y') %></td>
          <td><%= link_to estimate.estimate,  private_job_estimate_path(estimate), remote: true %></td>
          <td><%= estimate.reference %></td>
          <td><%= estimate.name_client %></td>
          <td class="<%= JobEstimate::STATE[estimate.state].downcase %>"><%= JobEstimate::STATE[estimate.state] %></td>
          <td class='to_hide'><%= number_to_currency estimate.total_amount %></td>
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-8 preview_estimate" style='display:none;'></div>
</div>
<script type="text/javascript">
  jQuery('.estimate_listing a').click(function(event) {
    jQuery('tr.selected').removeClass('selected')
    jQuery(this).parent().closest('tr').addClass('selected')
  });
</script>
