<%= content_for :breadcrumb do %>
  <ul id="breadcrumb">
    <li><%= link_to 'Dashboard', private_home_path %></li>
    <li>»</li>
    <li><%= @page_title %></li>
  </ul>
<% end %>
<%= content_for :submenu do %>
  <% if permitted_to? :create, :private_job_estimates -%>
    <li><%= active_link_to 'New Job Estimate', new_private_job_estimate_path %></li>
  <% end %>
<% end %>

<hr>

<div class="col-md-12">
  <div class="col-md-4">
    <table class="table table-hover">
      <tr>
        <th class="center number">#</th>
        <th class="nosort">Client</th>
        <th class="center">Estimate</th>
        <th class="center">Status</th>
        <th class="center">Amount</th>
        <!-- <th class="center">Estimate Date</th> -->
        <!-- <th class="center">Expiry Date</th> -->
      </tr>
      <% @job_estimates.each do |estimate| %>
        <tr>
          <td><%= estimate.id %></td>
          <td><%= estimate.name_client %></td>
          <td><%= link_to estimate.estimate,  private_job_estimate_path(estimate), remote: true %></td>
          <td><%= JobEstimate::STATE[estimate.state] %></td>
          <td><%= number_to_currency estimate.total_amount %></td>
          <!-- <td><%#= estimate.expiry_date %></td> -->
        </tr>
      <% end %>
    </table>
  </div>
  <div class="col-md-8 preview_estimate" style='display:none;'></div>
</div>


